/* color scheme variables */
:root {
    --content-primary: #333;
    --content-secondary: #1A1A1A;
    --text-color: #CCC;
    --text-secondary: #888;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    html{
        height:100%;
    }

    body {
        background-color: var(--content-primary);
        height: 100%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        overflow-x: hidden;
    }

    body form{
        height:100%;
    }

    h1, h2, h3, #banner {
        font-family: Georgia, Cambria, Cochin, Times, Times New Roman, serif;
    }

    .body-content {
        width: 100vw;
        height: 100%;
        padding:0;
    }

    .hidden {
        display: none;
    }

    .clickable:hover {
        cursor: pointer;
    }

    .button {
        color: var(--text-color);
        width: 10em;
        height: 3em;
        margin-top: auto;
        margin-bottom: auto;
        background-color: #666;
        border: 0;
        border-radius: 0.5em;
        padding: 0.5em 1.5em;
    }

    .button:hover{
        background-color: #444;
    }

    form{
        height: 100%;
    }

    /* Site Master Header ******************************************/
    header {
        background-color: var(--content-secondary);
        padding-top: 1em;
        padding-bottom: 1em;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100vw;
        height: 6em;
        box-sizing: border-box;
        color: var(--text-color);
    }

    #headerSpacer{
        height: 6em;
    }

    #headerWrapper {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    #admin{
        width: 4em;
        margin: 0;
        display: inline-block;
    }

    #adminMenu {
        height: 4em;
    }

    #avatar {
        height: 4em;
    }

    #avatar:hover, #loggedIn_un:hover {
        cursor:pointer;
    }

    #userDropdown, #adminDropdown{
        background-color: var(--content-secondary);
        position: absolute;
        list-style-type: none;

        display: none;
    }

        #userDropdown input, #adminDropdown input{
            margin: 1em;
        }

    #userDropdown.dropdownVisible, #adminDropdown.dropdownVisible{
        display: flex;
        flex-direction: column;
    }

    #banner {
        background-color: var(--content-primary);
        width: 60%;
        margin-right: 3em;
        padding: 0.3em;
        padding-left: 2em;
        font-size: 2em;
    }

    #sticky-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 5em;
        background-color: var(--content-secondary);
        padding-top: 1em;
        display: flex;
        justify-content: center;
        color: var(--content-primary);
    }

        #sticky-footer p {
            font-weight: bold;
        }

    #footerSpacer {
        width: 100%;
        height: 7em;
    }

    /* Home page and Dashboard **************************************************/
    #homeWrapper {
        background-color: var(--content-primary);
        color: var(--text-color);
        margin-top: 1em;
        padding: 1em;
        height: 100%;
    }

        #homeWrapper h2{
            font-size:20pt;
        }

        #homeWrapper p {
            font-size: 18px;
        }

        #homeTop{
            width: 75vw;
            /*margin-left: 12.5vw;*/
            margin-top: 5vh;
            display: flex;
        }
            #homeTop .homeText{
                margin-right: 10%;
            }

        #homeBottom {
            width: 75vw;
            /*margin-left: 12.5vw;*/
            display: flex;
        }

            #homeBottom .homeText {
                margin-left: 10%;
            }

        .homeText{
            width: 45vw;
            height: 30vh;
        }

            .homeText h2{
                font-size: 2.2em;
                
            }

            .homeText hr{
                width: 75%;
                background-color: #666;
                border: 2px solid #666;
                margin-left: 0px;
            }

            .homeText p{
                font-size: 1.7em;
            }

        .homeImage {
            max-width: 33vw;
            max-height: 25vh;
            box-shadow: 5px 5px 5px black;
        }

            #homeWrapper h1 {
                text-align: center;
            }

            #homeWrapper #getStarted{
                text-align: center;
                font-size: 1.5em;
            }

            #homeWrapper #MainContent_btnUpload {
                position: relative;
                left: 40%;
                width: 8%;
                opacity: 75%;
            }

            #homeWrapper #btnShare {
                position: relative;
                left: 46%;
                width: 8%;
                opacity: 75%;
            }

            #homeWrapper #MainContent_btnUpload:hover{
                opacity: 100%;
            }

    #dashboardImageGrid {
        display:flex;
        flex-wrap: wrap;
        margin-top: 3em;
        justify-content: center;
    }

        #dashboardImageGrid .galleryImage {
            height: 25vh;
            margin-right: 2em;
            margin-bottom: 2em;
            box-shadow: 5px 5px 5px black;
        }

        #dashboardImageGrid .galleryImage:hover{
            cursor: pointer;
        }

    /* Upload Image *************************************************************/
    #MainContent_uploadForm {
        background-color: var(--content-primary);
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5em;

        display: flex;
        justify-content: center;

        padding-top: 3em;
        padding-bottom: 3em;
        height: 80vh;
    }

        #MainContent_uploadForm #uploadLeft {

        }

            #uploadLabel {
                color: var(--text-color);
                margin-left: 1em;
                height: 60vh;
                width: 40vw;
            }
                
                #MainContent_tempLabel{
                    text-align: center;
                    text-decoration: underline;
                }

                #uploadLabel:hover{
                    cursor: pointer;
                }

                #MainContent_imagePreview {
                    max-height: 100%;
                    max-width: 100%;
                }

        #MainContent_uploadForm #uploadRight {
            display: grid;
            width: 50%;
            grid-template-columns: 25% 75%;
            grid-template-rows: repeat(6, auto);
            grid-column-gap: 1em;
            font-size: 18px;
        }

            #MainContent_uploadForm #uploadRight p {
                grid-column: 1/ span 1;
                display: inline-block;
                text-align: right;
                color: var(--text-color);
            }

            #MainContent_uploadForm #uploadRight input {
                grid-column: 2/ span 1;
                height: 1.5em;
            }

            #MainContent_uploadForm #uploadRight #MainContent_btnUpload, #MainContent_uploadForm #uploadRight #MainContent_btnSaveChanges, #MainContent_lblUploadError {
                grid-column: 1/ span 2;
                height: 3em;
            }

            #MainContent_lblUploadError{
                color: white;
            }

    /* User Gallery ****************************************************/
    #userWrapper {
        background-color: var(--content-primary);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
        height: 100%;
    }

    #galleryLeft {
        position:absolute;
        left:0;
        grid-column: 1;
        width: 50vw;
        height: 100%;
        background-color: var(--content-secondary);
        padding: 1em;
    }

        #MainContent_imageBig {
            max-width: 65%;
            max-height: 55%;
            margin-top: 1em;
            display:block;
            margin-left: 10em;
        }

        #caption {
            margin-right: 2em;
            margin-left: 10em;
            margin-top: 1em;
        }
            
            #caption #MainContent_lblImageTitle{
                display: block;
                font-size: 2em;
                color: var(--text-color);
            }

            #caption em{
                color: var(--text-color);
            }

            #caption #MainContent_lblImageInfo{
                font-size: 1.5em;
                color: var(--text-secondary);
            }

    #galleryRight {
        margin-top: 1em;
        margin-left: 35vw;
        width: 50vw;
        grid-column: 2;
        display: flex;
        flex-wrap:wrap;
        justify-content:center;
    }

        #galleryRight img.galleryImage {
            height: 25vh;
            margin-right: 2em;
            margin-bottom: 2em;
            box-shadow: 5px 5px 5px black;
        }

    /* Post Page *****************************************************/
    #imageWrapper {
        background-color: var(--content-primary);
        margin: 1em;
        padding: 1em;
        min-height: 52em;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }

    #post {
        height: 50em;
        grid-column: 1;
        grid-row: 1/ span 3;
    }

    #title-description {
        margin-left: 1em;
    }

    #title {
        background-color: var(--content-secondary);
        padding: 1em;
        padding-top: 0.2em;
    }

    #description {
        background-color: var(--content-secondary);
        padding: 1em;
        padding-top: 0.2em;
        margin-top: 1em;
    }

        #description p {
            font-size: 1.5em;
        }

        #description em {
            font-weight: bold;
        }

    /* Login Page, Registration, Edit Account *************************************************************/
    #MainContent_accountForm {
        background-color: var(--content-secondary);
        padding: 2em;
        padding-top: 3em;
        width: 50%;
        position: absolute;
        left: 25%;
        top: 15%;
        display: flex;
        flex-direction: column;
        font-size:12px;
    }

        #accountWrapper {
            align-self: center;
            display: grid;
            width: 50%;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(6, auto);
            /*grid-row-gap: 1.5em;*/
            grid-column-gap: 1em;
            margin-bottom: 1.5em;
        }

        #MainContent_accountForm h2{
            color: var(--text-secondary);
            text-align: center;
            grid-column: 1/ span 2;
            padding-bottom: 1em;
        }

        #MainContent_accountForm p {
            display: inline;
            font-size: 1.5em;
            grid-column: 1;
            text-align: right;
            color: var(--text-color);
        }

        #MainContent_accountForm input {
            margin: 0.5em;
            grid-column: 2;
        }

        #MainContent_accountForm #MainContent_submit, #MainContent_accountForm #MainContent_btnSubmitEdit{
            grid-column: 1/ span 2;
            margin-left: 33%;
        }

        #MainContent_accountForm textarea {
            margin: 0.5em;
            grid-column: 2;
        }

        #MainContent_lblLoginError, #MainContent_lblEditError{
            grid-column: 1/ span 2;
            text-align: center;
            color: var(--text-color);
            font-size: 1.5em;
        }

    #MainContent_register {
        align-self: center;
    }

    #MainContent_lblError{
        color:var(--text-color);
        text-align: center;
        font-size: 1.3em;
    }

    #MainContent_avatarPreview{
        height: 6em;
        margin-left: 1em;
    }

    #MainContent_btnChangePassword{
        width:15em;
    }

/* Logout Confirmation Page ***********************************/
#logoutWrapper {
    background-color: var(--content-secondary);
    color: var(--text-color);
    padding: 5em;
    text-align: center;
    width: 33%;
    position: absolute;
    left: 33%;
    top: 33%;
}

    #logoutWrapper input {
        font-size: 1.3em;
    }

        #logoutWrapper input:nth-child(3) {
            margin-right: 10%;
        }

/* Responsive: Smaller than portrait tablets*/
@media screen and (max-width: 767px) {
}
